* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #377dff;
  }
  .hide {
    display: none;
  }
  .wrapper {
    background-color: #ffffff;
    width: 90%;
    max-width: 31.25em;
    position: relative;
    margin: 1em auto;
    padding: 3.12em 5em;
    border-radius: 0.5em;
  }
  a {
    display: block;
    background-color: #202020;
    color: #ffffff;
    width: 90%;
    max-width: 25em;
    position: relative;
    margin: 1em auto;
    text-align: center;
    padding: 1em 0;
    border-radius: 0.5em;
    text-decoration: none;
    font-size: 1.2em;
  }
  .timer-display {
    font-size: 2.18em;
    text-align: center;
    font-family: "Roboto Mono", monospace;
  }
  .inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
  }
  .inputs input {
    width: 2.8em;
    font-size: 1.375em;
    border: 1px solid black;
    padding: 0.4em 0.2em;
    border-radius: 0.3em;
  }
  #set {
    background-color: #377dff;
    border: none;
    padding: 0.9em 1.8em;
    display: block;
    margin: 1.5em auto 0 auto;
    border-radius: 2em;
    color: #ffffff;
  }
  .alarm {
    display: grid;
    grid-template-columns: 8fr 2fr 2fr;
    gap: 1em;
    margin-top: 1.5em;
    align-items: center;
    border-bottom: 1px solid #898f9b;
    padding-bottom: 0.625em;
  }
  .alarm input[type="checkbox"] {
    appearance: none;
    height: 2em;
    width: 3.75em;
    background-color: #e2e2ec;
    border-radius: 1.25em;
    position: relative;
    cursor: pointer;
    outline: none;
  }
  .alarm input[type="checkbox"]:before {
    position: absolute;
    content: "";
    background-color: rgb(117, 118, 131);
    height: 1.43em;
    width: 1.43em;
    border-radius: 50%;
    top: 0.25em;
    left: 0.25em;
  }
  .alarm input[type="checkbox"]:checked {
    background-color: #d2e2ff;
  }
  .alarm input[type="checkbox"]:checked:before {
    background-color: #377dff;
    left: 2em;
  }
  .deleteButton {
    background-color: transparent;
    height: 1.4em;
    width: 1.4em;
    border: none;
    font-size: 1.5em;
    margin-bottom: 0.2em;
    color: #377dff;
    border-radius: 0.3em;
  }